/*
code taken from
http://www.webtutorialsource.com/tutorial/show-hide-toggle-sliding-menu-css-javascript/
*/

#menubox{
  width: 660px;
  font-size: 12px;
  line-height: 20px;
  right: -620px;
  top: 0%; /* change this value to place the menu higher or lower */
  position: fixed;
  z-index: 100;
}

#tab{
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 99;
}

#tab li span{
  display: block;
  padding: 0 5px;
  position: relative;
}

#menuContent{
  width: 595px;
  padding: 10px;
  float: left;
  border-left: 1px solid #B4B8BB;
  background-color: rgba(0, 0, 0, 0.8)
}

.show, .hide{
  /* we specify the transition length for hiding and showing */
      transition: margin-right .4s ease-in;
  -webkit-transition: margin-right .4s ease-in;
}

.hide{
  margin-right:0px;
}

.show{
  margin-right:620px;
}

#arrow, .bt{
  cursor: pointer;
}
